<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../../static/css/account_style.css" />
		<link rel="stylesheet" th:href="@{/css/account_style.css}" href="../../static/css/account_style.css" />
		<title>Canidae Resort</title>

	</head>


	<body>
		<div id="main_wrapper">
            <header>

                <div id="main_title">
                    <img src="../../css/images/CR_Logo.jpg" alt="Canidae Resort Logo" id="logo" />
                    <h1>Canidae Resort</h1>
                    <h2>Dog Hotel Searching App</h2>
                </div>

                <nav class="navbar">
                    <ul>
                        <li><a href="homepage">Home</a></li>
                        <li><a href="hotel_search">Hotels</a></li>
                        <li><a href="account">Account</a></li>
                        <li><a href="logout">Logout</a></li>
                    </ul>
                </nav>

            </header>
		
		</div>
		
		<h1 class="welcome">You are just a regular USER!</h1>
		<h2 class="admin_greet">Unfortunately there's not much you can do xD</h2>
		

	</body>

</html>