<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="../../static/css/index_style.css" />
		<link rel="stylesheet" th:href="@{/css/index_style.css}" href="../../static/css/index_style.css" />
		<title>Canidae Resort</title>

	</head>


	<body>
		<div id="main_wrapper">
            <header>

                <div id="main_title">
                    <img src="../../css/images/CR_Logo.jpg" alt="Canidae Resort Logo" id="logo" />
                    <h1>Canidae Resort</h1>
                    <h2>Dog Hotel Searching App</h2>
                </div>

                <nav class="navbar">
                    <ul>
                        <li><a href="index">Home</a></li>
                        <li><a href="hotels">Hotels</a></li>
                        <li><a href="login">Login</a></li>
                    </ul>
                </nav>

            </header>
	
		
		<h1 class="welcome">Welcome to Canidae Resort!</h1>
		<h2 class="saying">Finding the perfect shelter for your dog!</h2>
		
		</div>

	</body>

</html>